/*
 * .-----------------------------------------------------.
 * |                     SHARE LINK                      |
 * '-----------------------------------------------------'
 */

html.no-js .ar18-sharelink {
  display: none;
}

.ar18-sharelink a {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.ar18-sharelink svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.ar18-sharelink svg.ar18-sharelink-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.ar18-sharelink a:hover svg {
  opacity: 0;
}

.ar18-sharelink a:hover svg.ar18-sharelink-hover {
  opacity: 1;
}

/* --- Per Section Colors --- */

/* Intro */
.ar18-intro .ar18-sharelink-nohover circle {
  stroke: #fff;
}

.ar18-intro .ar18-sharelink-nohover path {
  fill: #f9a801;
}

.ar18-intro .ar18-sharelink-hover circle {
  stroke: #fff;
  fill: #f9a801;
}

.ar18-intro .ar18-sharelink-hover path {
  fill: #fff;
}

/* Ed */
.ar18-ed .ar18-sharelink-nohover circle {
  stroke: #fff;
}

.ar18-ed .ar18-sharelink-nohover path {
  fill: #fff;
}

.ar18-ed .ar18-sharelink-hover circle {
  stroke: #293868;
  fill: #fff;
}

.ar18-ed .ar18-sharelink-hover path {
  fill: #293868;
}

/*
 * .-----------------------------------------------------.
 * |                     SHARE MODAL                     |
 * '-----------------------------------------------------'
 */

.ar18-sharemodal {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  align-items: center;
  justify-content: center;
  color: #4a4a4a;
  pointer-events: none;
  overflow: hidden;
}

html.no-js .ar18-sharemodal {
  display: none;
}

.ar18-sharemodal-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(.16,.72,.88,.58);
  transition-delay: 0.3s;
}

.ar18-sharemodal-window {
  width: 100%;
  max-width: 700px;
  z-index: 2;
  transform: translate(50%, 0%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
}

/* --- Shown --- */

.ar18-sharemodal-shown {
  pointer-events: all;
}

.ar18-sharemodal-shown .ar18-sharemodal-bg {
  transform: translate(0, 0);
}

.ar18-sharemodal-shown .ar18-sharemodal-window {
  transform: translate(0, 0);
  opacity: 1;
}

/* --- Close Button --- */

.ar18-sharemodal-close {
  margin-bottom: 15px;
  widt: 100%;
}

.ar18-sharemodal-close button {
  display: block;
  border: 0;
  border-radius: 0;
  background: none;
  padding: 0;
  color: inherit;
  outline: 0;
}

.ar18-sharemodal-close svg {
  float: left;
  width: 40px;
  height: 40px;
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  fill: currentColor;
}

.ar18-sharemodal-close span {
  float: left;
  font-size: 15px;
  line-height: 40px;
  padding-left: 15px;
}

.ar18-sharemodal-close button:hover svg {
  transform: translateX(-10px);
}

/* --- Modal Content --- */

.ar18-sharemodal-content {
  background: #fff;
  padding: 36px 60px 0;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 55px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}

.ar18-sharemodal-image {
  width: 100%;
  height: 0;
  padding-bottom: 52.3333%;
  overflow: hidden;
  position: relative;
}

.ar18-sharemodal-image img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

p.ar18-sharemodal-description {
  font-size: 21px;
  line-height: 28px;
  margin: 10px 0 25px;
}

.ar18-sharemodal-actions {
  display: flex;
  border-top: 3px solid currentColor;
  padding-top: 15px;
  padding-bottom: 25px;
}

a.ar18-sharemodal-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
  border: 0;
}

a.ar18-sharemodal-button.facebook {
  color: #4267b2;
}

a.ar18-sharemodal-button.twitter {
  color: #38a1f3;
}

a.ar18-sharemodal-button:first-child {
  padding-right: 20px;
}

a.ar18-sharemodal-button:last-child {
  border-left: 1px solid #4a4a4a;
  padding-left: 30px;
}

a.ar18-sharemodal-button span {
  display: block;
  width: calc(100% - 65px);
  padding-bottom: 1px;
  font-size: 21px;
  line-height: 28px;
  text-decoration: none;
}

a.ar18-sharemodal-button svg {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  fill: currentColor;
}

@media only screen and (max-width: 768px) {
  .ar18-sharemodal-close {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .ar18-sharemodal-content {
    padding: 24px 24px 15px;
  }
}

@media only screen and (max-width: 500px) {
  .ar18-sharemodal-close svg,
  .ar18-sharemodal-button svg {
    width: 30px;
    height: 30px;
  }

  .ar18-sharemodal-close {
    margin-bottom: 10px;
  }

  .ar18-sharemodal-close span {
    line-height: 30px;
  }

  .ar18-sharemodal-content {
    padding-bottom: 0;
    max-height: calc(100vh - 40px);
  }

  p.ar18-sharemodal-description {
    font-size: 18px;
    line-height: 26px;
  }

  .ar18-sharemodal-actions {
    display: block;
    padding-top: 0;
  }

  a.ar18-sharemodal-button {
    padding: 17px 0;
    border: 0;
  }

  .ar18-sharemodal-actions a.ar18-sharemodal-button:last-child {
    border-left: 0;
    padding-left: 0;
    padding-right: 20px;
    border-top: 1px solid #4a4a4a;
  }

  a.ar18-sharemodal-button span {
    font-size: 18px;
    line-height: 26px;
    width: calc(100% - 55px);
  }
}
