.ar18-partner {
  background: #374e5f;
}

h2.ar18-partner-heading {
  margin: 0 0 24px 0;
  color: #fff;
  font-size: 34px;
  line-height: 36px;
  text-transform: uppercase;
}

.ar18-partner-item {
  width: 100%;
  margin-bottom: 36px;
  background: #798fa0;
  color: #fff;
  overflow: hidden;
}

.ar18-partner-item:last-child {
  margin-bottom: 0;
}

.ar18-partner-img {
  width: 100%;
  height: 0;
  padding-bottom: 64.97%;
  position: relative;
  overflow: hidden;
}

.ar18-partner-img-desktop {
  display: none;
}

.ar18-partner-img img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.ar18-partner .ar18-photo-credit {
  right: 14px;
  bottom: 10px;
}

.ar18-partner-copy {
  padding: 32px 24px;
}

h3.ar18-partner-title {
  margin: 0 0 5px 0;
  font-size: 24px;
  line-height: 30px;
}

p.ar18-partner-description {
  margin: 0;
}

@media all and (min-width: 768px) {
  h2.ar18-partner-heading {
    font-size: 42px;
    line-height: 46px;
    padding: 0;
  }

  .ar18-partner-item {
    display: table;
  }

  .ar18-partner-img,
  .ar18-partner-copy {
    display: table-cell;
    float: none;
    width: 50%;
    height: auto;
    padding: 0;
    vertical-align: middle;
  }

  .ar18-partner-img-mobile {
    display: none;
  }

  .ar18-partner-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ar18-partner-copy {
    padding: 36px 48px;
  }

  .ar18-partner-sizer {
    display: block;
    width: 1px;
    height: 348px;
  }
}

@media all and (min-width: 1000px) {
  .ar18-partner-copy {
    padding: 36px 72px 36px 60px;
  }
}
