/***** BASE *****/
*{
	-webkit-text-size-adjust:none;
	font-size-adjust:none;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	font-size:18px;
	font-weight: 400;
	letter-spacing: -0.02em;
	font-family: $roboto;
	line-height: 1.6;
	color: $primary-color;
	background: $white;
	overflow-x: hidden;
	@media($smallscreen){
		font-size: 16px;
	}
}

.page{
	position: relative;
	overflow: hidden;
}


a:link,a:visited,a:active,a:hover{
	color:$grey-light;
	text-decoration: none;
	cursor: pointer;	
}

h1,h2,h3,h4,h5{
	margin: 0px;
	font-weight: 700;
	color: $primary-color;
	line-height: 1.2;
	letter-spacing: -0.02em;
}

h1{
	font-size: 4.15em; 
	@media($smart){
		font-size: 2.75em;
	}
}

h2{
	font-size: 2.2em;
	@media($smart){
		font-size: 1.75em;
	}
}
h3{
	font-size: 1.3em;
	@media($smart){
		font-size: 1.15em;
	}
}

ul,ol, li{
	margin: 0;
	padding: 0;
	list-style: none;
}

p{
	margin:0 0 1.5em;
}
strong,b{
	font-weight: 600;
}

img, video, iframe{
	@include responsive;
}

.container-fluid {
	padding: 0;
	position: relative;
}